<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">WISHLIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<ion-button color="secondary" size="full">Agregar nuevo libro</ion-button>
  <ion-list>
    <br>
    <ion-item>
      <ion-label>100 años de Soledad -Gabriel García Márquez</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
<br>
    <ion-item>
      <ion-label>La casa de los espíritus- Isabel Allende</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
<br>
    <ion-item>
      <ion-label>La comedia humana- Honoré de Balzac</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
<br>
    <ion-item>
      <ion-label>Cumbres borrascosas- Emily Brontë</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  
</ion-content>
