<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-card>
  <ion-card-header>
    <img src="assets/tree.jpg" alt="to do list-logo">
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>To do list</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item></ion-item>
      <ion-input placeholder="username"></ion-input>
    <br>
      <ion-input placeholder="password" type="password"></ion-input>
    <ion-item></ion-item>
    <br>
    <ion-button (click)="logMeIn()">login</ion-button>
  </ion-card-content>
</ion-card>
