<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">NUEVO LIBRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Autor</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Año</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Editorial</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nota</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-button color="secondary" size="full">Guardar</ion-button>
</ion-content>
