<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To do list 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/tree.jpg" alt="to do list-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>To do list</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      To do list es una aplicación que te ayuda a recordar tus pendientes. 
    </ion-card-content>
  </ion-card>
  
</ion-content>
