<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>¡Hola!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Gracias por registrate en Daily Book y esperamos que esta app te sea muy útil. 
      <br>
          <ion-card-subtitle color="secondary">¿Te gustaría recibir notificaciones semanalmente?</ion-card-subtitle>
        <ion-radio-group>
          <ion-item>
            <ion-label>Sí</ion-label>
            <ion-radio value="yes"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type='email'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirme contraseña</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de teléfono</ion-label>
        <ion-input type='tel'></ion-input>
      </ion-item>
    </ion-card-content>
</ion-card>
<ion-button size="full" color="light">Register</ion-button>
</ion-content>
