<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">LIBROS LEÍDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always" color="secondary"></ion-searchbar>
  <ion-list>
    <br>
    <ion-item>
      <ion-label>If we were villains -M.L. Rio</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Cazadores de sombras -Cassandra Clare</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Shadow and bone -Leight Bardugo</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>La reina roja -Victoria Aveyard</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>La selección -Kiera Cass</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
